__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info/
.eggs/
*.egg

.venv/
venv/
env/
ENV/

.cache/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/

.env
*.log
*.parquet

.vscode/
.idea/
